@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("Fonts/Poppins-ExtraLight.ttf") format(truetype);
  }
  @font-face {
    font-family: "syne";
    font-weight: 400;
    src: url("Fonts/static/Syne-Bold.ttf") format(truetype);
  }
  @font-face {
    font-family: "ayam";
    font-weight: 400;
    src: url("Fonts/static/Syne-SemiBold.ttf") format(truetype);
  }

body{
    background-color: #EFFBFF;
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
}

.data h4{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 20px;
    margin-bottom: -1px;
}

.row{
    background-color: white;
    width: 620px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
    -webkit-box-shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
    

}

.photo{
    display: flex;
    flex-direction: column;
    text-align: center;
}


#preview{
    color: white;
    background-color:#1069BB;
    margin-top: -20px;
    border-radius: 10px;
    font-family: 'ayam';
    border: 2px solid white;
}


.photo button{
    font-family: 'syne';
    background-color:#1069BB;
    border: none;
    color: white;
    padding: 8px;
    border-radius: 10px;
   margin-top: 145px;
}

.photo img{
    width: 300px;
    border-radius: 15px;
}

.data input{
    margin-top: 5px;
    width: 200px;
    border-radius: 8px;
    height: 18px;
    border: 1px solid black;
    margin-bottom: -10px;
}

.data{
    display: flex;
    flex-direction: column;
    width: 250px;
    padding-right: 10px;
    padding-bottom: 20px;
    margin-left: 20px;
    background-color: white;
    border-radius: 15px;
}

.isian{
    margin-left: 20px;
}

.isian h1{
    color: #1069BB;
    font-family: 'syne';
    font-size: 50px;
    margin-left: 50px;
}

.isian h3{
    margin-top: -5px;
    margin-bottom: -15px;
    font-family: 'Poppins';
    columns: gray;
    font-size: 30px;
}