@font-face {
    font-family: "Poppins";
    font-weight: 400;
    src: url("Fonts/Poppins-ExtraLight.ttf") format(truetype);
  }
  @font-face {
    font-family: "ayam";
    font-weight: 400;
    src: url("Fonts/Poppins-SemiBold.ttf") format(truetype);
  }

body{
    display: flex;
    justify-content: center;
}

.konten{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    border: 2px solid lightgray;
    border-radius: 20px;
    box-shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
    -webkit-box-shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
    -moz-box-shadow: 2px 7px 12px -3px rgba(0,0,0,0.53);
}

.konten img{
    width: 700px;
    object-fit: cover;
    margin-left: 10px;
}

.colum h1{
    font-family: 'ayam';
    font-size: 50px;
    width: 500px;
    margin-bottom: -2px;
}

.colum{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.colum label{
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: bold;
}
.colum input{
    font-family: 'Poppins';
    font-weight: bold;
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 15px;
}

.colum button{
    margin-bottom: -15px;
    padding: 6px;
    border-radius: 15px;
    background-color: black;
    color: white;
    border: 2px solid white;
    transition: background-color 0.3s;
}

.colum button:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}

#jumlahTiket{
    text-align: center;
}

#labelharga{
    margin-top: -20px
}

#charga{
    width:215px;
    margin-bottom: 10px;
}

.notif{
    text-align: center;
    background-color: rgba(0,0,0,0.70);
    border-radius: 20px;
    width: 400px;
    height: 100px;
    position: fixed;
    top: -115px;
    left: 37%;
    transition: transform 0.5s;
}
.notif h1{
    font-family: 'Poppins';
    color: white;
}

.notif button{
    font-family: "Poppins";
    font-weight: bold;
    border: none;
    background-color: white;
    border-radius: 15px;
    margin-top: -40px;
    padding: 2px;
    width: 200px;
    color: black;
    transition: background-color 0.3s;
}

.notif button:hover{
    background-color: black;
    color: white;
}